.search-section {
   height: 70vh;
   color:white;
   background-color:#018060;
}

.toplogo {
  font-size: 200%;
  padding:15px;
  position: fixed;

}

.title{
  font-size: 150%;
  text-align: center;
  padding-top: 10%;
}

.userinput {
  outline: none;
  text-align: center;
  text-decoration: none;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  width: 500px;
  height: 40px;
  position: relative; 
  display:block;
  margin:0 auto;
}

@media (max-width: 700px) {
  .userinput {
    width: 300px;
  }
}